# React build pipeline (self-hosted agent)
# For Microsoft-hosted, replace pool with: vmImage: 'ubuntu-latest'

trigger:
- main

variables:
  nodeVersion: '20.x'

pool:
  name: 'Default'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: $(nodeVersion)
  displayName: Install Node.js

- script: |
    npm ci
    npm run build
  displayName: Install dependencies and build
